@import '../../../../assets/mixins.scss';
//*********************************************************************  HEADER  **********************************************************************
header {
    height: 104px;
    background-color: #5654DB;
    
    .wrap {
        display: flex;
        justify-content: space-between;
        
    }

    .header__menu {
        display: flex;
    }

    .header__options {
        display: flex;
        padding-top: 35px;
        padding-bottom: 40px;
        p {
            @include fontFamily('Inter', normal, 600, 16px, 24px);
            letter-spacing: -0.02em;
            margin-left: 35px;
            color: #FFFFFF;
            cursor: pointer;

            &:hover {
                color: #09083f;
            }
        }
    }

    .actions_buttons {
        display: flex;
        justify-content: space-between;

        button {
            margin-top: 28px;
        }
    
        .registr_btn {
            width: 140px;
            height: 44px;
            background: #1719DD;
            color: #FFFFFF;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

            &:active {
                background: rgb(15, 60, 136);
            }
        }
    
        .login_btn {
            width: 100px;
            height: 44px;
            background-color: transparent;
            color: #FFFFFF;
            border: none;

            &:active {
                color: #09083f;
            }
        }
    }
    
}



@include sm {
    header {
        height: 74px;
        .wrap {
            margin: 0 10px;
        }
        .header__options {
            padding-top: 16px;
            padding-bottom: 30px;
            p {
                font-size: 7px;
                line-height: 12px;
                margin-left: 12px;
            }
        }
    
        .actions_buttons {

            button {
                margin-top: 8px;
            }

            .registr_btn {
                width: 80px;
                height: 26px;
            }
        
            .login_btn {
                width: 45px;
                height: 26px;
            }
        }
    }
}// done

@include xs{
    header {
        height: 30px;
        .wrap {
            margin: 0 10px;
        }
        .header__options {
            padding-top: 16px;
            padding-bottom: 30px;
            p {
                font-size: 5px;
                line-height: 8px;
                margin-left: 6px;
            }
        }
    
        .actions_buttons {

            button {
                margin-top: 8px;
            }

            .registr_btn {
                width: 110%;
                height: 20px;
                font-size: 8px;
                line-height: 12px;
            }
        
            .login_btn {
                width: 40px;
                height: 20px;
                font-size: 8px;
                line-height: 12px;
            }
        }
    }
}

@include md {
    header {
        height: 104px;
        .wrap {
            margin: 0 15px;
        }
        .header__options {
            p {
                font-size: 12px;
                line-height: 20px;
                margin-left: 30px;
            }
        }
    
        .actions_buttons {
            .registr_btn {
                width: 110px;
                height: 32px;
            }
        
            .login_btn {
                width: 80px;
                height: 32px;
            }
        }
    }
} // done

@include lg {
    header {
        .wrap {
            margin: 0 20px;
        }
    }
} // done