<header>
    <div class="wrap">
      <div class="header__menu">
        <div class="header__logo">
          <img src="./assets/logo.svg" alt="Logo">
          <p>СМЕТНЫЙ ОФИС</p>
        </div>
        <div class="header__options">
          <p>Главная</p>
          <p>Продукты</p>
          <p>Данные</p>
          <p>Цены</p>
        </div>
      </div>
      <div class="actions_buttons">
        <button class="login_btn">Логин</button>
        <a href="#register"><button class="registr_btn blue_button">Регистрация</button></a>
      </div>
    </div>
  </header>
  