@import '../../../assets/mixins.scss';
.price__cart {
    margin-top: 176px;
    width: 400px;
    height: 630px;
    background: #081131;
    box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
    border-radius: 16px;
    box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.4);

    &:hover {
        margin-top: 76px;
        background: rgba($color: #081131, $alpha: 0.975);
    }

    .price__rate {
        padding-top: 48px;
        margin-left: 50px;
        @include fontFamily('Sora', normal, 500, 20px, 32px);
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #7E8BB6;
    }

    hr {
        margin-left: 12%;
        margin-top: 48px;
        width: 304px;
        background: #081131;
        opacity: 0.16;
        border-radius: 16px;
    }

    .get_started {
        margin-left: 50px;
        background: #4E5A85;

        &:hover {
            background: #0059F7;
        }
    }
}

@include xs {
    .price__cart {
        margin-left: 5px;
        margin-top: 22px;
        width: 98%;
        height: auto;
        padding-bottom: 20px;

        &:hover {
            margin-top: 22px;
        }
    
        hr {
            width: 76%; 
        }
    
        .get_started {
            margin-top: -1px;
        }
    }
}

@include sm {
    .price__cart {
        margin: 0 auto;
        margin-left: 15px;
        margin-top: 22px;
        
        width: 97.7%;
        height: 500px;

        &:hover {
            margin-top: 22px;
        }
    
        hr {
            width: 85%; 
            margin-left: 8%;
            margin-top: 34px;
        }
    
        .get_started {
            margin-top: -1px;
        }
        
        .price__rate {
        padding-top: 22px;
        }
    }
    
}

@include md {
    .price__cart {
        margin: 0 auto;
        margin-left: 15px;
        margin-top: 22px;
        
        width: 95.7%;
        height: 550px;

        &:hover {
            margin-top: 22px;
        }
    
        hr {
            width: 85%; 
            margin-left: 8%;
            margin-top: 34px;
        }
    
        .get_started {
            margin-top: -1px;
        }
        
        .price__rate {
        padding-top: 22px;
        }
    }
    
}

@include lg {
    .price__cart {
        width: 95%;
        height: 640px;

        hr {
            margin-top: 25px;
            width: 75%;
        }

        &:hover {
            margin-top: 0px;
            background: rgba($color: #081131, $alpha: 0.975);
        }

        .get_started {
            margin-top: -2%;
            margin-left: 22%;
        }

        
        
    }
}