  <app-header></app-header>
  <main>
    <div class="start__page">
      <div class="wrap">
        <div class="start__text">
          <div>
            <p class="start_description">Простой способ заработать на сметах</p>
            <h1>Инновационное</h1>
            <h1>составление смет</h1>
            <p class="description_help">Работайте меньше, получайте больше</p>  
          </div>
          <div class="actions_buttons">
            <a href="">
              <button class="show_demo_btn">
                <div class="arrow">
                  <img src="../assets/arrow.svg" alt="arrow">
                  <p>Демонстрация работы</p>
                </div>
              </button>
            </a>
            <a href="#price_carts"><button class="registr_btn">Регистрация</button></a>
          </div>
        </div>
        <img class="racushka" src="../assets/racushka.svg" alt="racushka">
      </div>
    </div>
    

    <div class="features">
      <div class="wrap">
        <p class="__description_first">Тарифы</p>
        <p class="__title">Тарифы помогут сэкономить</p>
        <p class="__description_second">У нас возможности есть для каждого</p>
      </div>
    </div>

    <div class="price__section" id="price_carts">
      <div class="wrap">
        <app-price-cart *ngFor="let rate of ratesList" [ratesListik]="rate"></app-price-cart>
      </div>
    </div>

    <div class="promo">
      <div class="wrap">
        <div class="__section">
          <div class="promo_bg">          
            <img src="./assets/promo_background.svg" alt="promo-bg">
          </div>
          <div class="promo__action">
            <p class="__title">Попробуйте Сметный офис</p>
            <p class="__description">Присоединяйтесь к сообществу сметчиков, нас уже более 5000+ человек</p>
            <div class="action_btns">
              <button>Подробнее</button>
              <button>Начать использовать Сметный офис</button>
            </div>
          </div>
          <div class="promo_pic">
            <img src="../assets/promo_pic.svg" alt="promo-picture">
          </div>
        </div>
      </div>
    </div>

  </main>
  <app-footer></app-footer>