  <app-header></app-header>
  <main>
    <div class="start__page">
      <div class="wrap">
        <div class="start__text">
          <div>
            <p class="start_description">Простой способ заработать на сметах</p>
            <h1>Инновационное</h1>
            <h1>составление смет</h1>
            <p class="description_help">Работайте меньше, получайте больше</p>  
          </div>
          <div class="actions_buttons">
            <a href="">
              <button class="show_demo_btn">
                <div class="arrow">
                  <img src="../assets/arrow.svg" alt="arrow">
                  <p>Демонстрация работы</p>
                </div>
              </button>
            </a>
            <a href="#register"><button class="registr_btn blue_button">Регистрация</button></a>
          </div>
        </div>
        <img class="racushka" src="../assets/racushka.svg" alt="racushka">
      </div>
    </div>
    
    <div class="features">
      <div class="wrap">
        <p class="__description_first">Тарифы</p>
        <p class="__title">Тарифы помогут сэкономить</p>
        <p class="__description_second">У нас возможности есть для каждого</p>
      </div>
    </div>

    <div class="price__section">
      <div class="wrap">
        <app-price-cart *ngFor="let rate of ratesList" [ratesListik]="rate"></app-price-cart>
      </div>
    </div>

    <div class="promo">
      <div class="wrap">
        <div class="__section">
          <div class="promo_bg">          
            <img src="./assets/promo_background.svg" alt="promo-bg">
          </div>
          <div class="promo_pic">
            <img src="../assets/promo_pic.svg" alt="promo-picture">
          </div>
          <div class="promo__action">
            <p class="__title">Попробуйте Сметный офис</p>
            <p class="__description">Присоединяйтесь к сообществу сметчиков, нас уже более 5000+ человек</p>
            <div class="action_btns">
              <button>Подробнее</button>
              <button class="blue_button">Начать использовать Сметный офис</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="reviews">
      <div class="wrap">
        <div class="company_rev">
          <img src="../assets/review_logo.svg" alt="company_rev_logo">
          <img src="../assets/company-name-rev.svg" alt="company_rev_name">
        </div>
        <p class="the_review">Когда пришлось делать сразу 10 смет, я не думала что успею, но Сметный офис мне помог в этом</p>
        <div class="author">
          <img src="../assets/author_avatar.svg" alt="review_author_logo">
          <p class="rev_author">Симона Ли</p>
          <p class="rev_author_pos">Главный инженер Global Trust Investment</p>
        </div>
      </div>
    </div>

    <div class="register" id="register">
      <div class="wrap">
        <div class="__description">
          <p>Быстрая регистрация в Сметном офисе</p>
          <p>Начните работу прямо сейчас</p>
        </div>
        <div class="forma">
          <form #loginForm="ngForm" (ngSubmit)="register()">
            <div>
                <input id="name" name="name" class="text" [(ngModel)]="model.name" placeholder="Ваше имя" required minlength="4">
            </div>
            <div>
                <input type="email" id="email" name="email" class="text" [(ngModel)]="model.email" placeholder="Ваша почта">
            </div>
            <p class="agreement">Нажимая кнопку “Отправить” вы соглашаетесь на обработку персональных данных</p>
            <button type="submit" class="signin blue_button">Зарегестрироваться</button>
          </form>
        </div>
      </div>
      <img src="../assets/back_register.svg" alt="background">
    </div>

  </main>
  <app-footer></app-footer>