@import '../assets/mixins.scss';
//*********************************************************************  SECTION START PAGE  **********************************************************

.start__page {
    background-color: #5654DB;
    text-align: center;
    z-index: 0;
    position: relative;
   
    .racushka {
        position: absolute;
        width: 75%;
        bottom: 0%;
    }

    .start__text {
        margin-top: 110px;
        margin-bottom: 12px;
        z-index: 1000;
    }

    h1 {
        @include fontFamily('Inter', normal, 600, 72px, 90px);
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }

    .start_description {
        @include fontFamily('Inter', normal, 600, 16px, 24px);
        color: #E9D7FE;
        margin-bottom: 24px
    }

    .description_help {
        @include fontFamily('Inter', normal, 400, 20px, 30px);
        color: #E9D7FE;
        margin-top: 28px;
    }

    .actions_buttons {
        display: flex;
        padding-left: 12%;
        margin-bottom: 210px;
        margin-top: 52px;
        justify-content: space-evenly;

        .registr_btn {
            width: 172px;
            height: 60px;
            background: #1513AD;
            color: #FFFFFF;
            text-decoration: none;
            font-size: 18px;
            line-height: 28px;
        }

        .show_demo_btn {
            width: 299px;
            height: 60px;
            color: #344054;
            text-align: center;
        }
    }

}

// for mobile
@include xs {      
    .wrap {
        display: block;
    }

    .start__page {
        height: auto;

        .wrap {
            display: flex;
        }
    
        .start__text {
            @include fontFamily('Sora', normal, 700, 55px, 66px);
            margin-top: 12px;
            margin-left: 10px;
        }
    
        .start_description {
            width: 95%;
            margin-top: 13px;
            margin-left: 15px;
        }
    }
}

@include sm {

    .start__page {
        .wrap {
            width: 100%;
        }

        height: 100%;
    
        .start__text {
            @include fontFamily('Sora', normal, 700, 55px, 60px);
            margin-top: 12px;
            margin-left: 10px;
        }
    
        .start_description {
            margin-top: 13px;
            margin-left: 15px;
        }
    }
}

@include md {
    .start__page {
        height: 100%;

        .wrap {
            width: 100%;
        }
    
        .start__text {
            @include fontFamily('Sora', normal, 700, 55px, 60px);
            margin-top: 12px;
            margin-left: 10px;
        }
    
        .start_description {
            margin-top: 13px;
            margin-left: 15px;
        }
    }
}

@include lg {
    
    .start__page {
       
        .racushka {
            position: absolute;
            width: 100%;
            bottom: 0%;
        }
    
        h1 {
            font-size: 68px;
            line-height: 70px;
        }
    
        .actions_buttons {
            margin-bottom: 80px;
            padding-left: 5%;
        }
    }
} //done

//**************************************************************  SECTION FEATURES PAGE  **************************************************************

.features {

    .__title {
        @include fontFamily('Inter', normal, 600, 36px, 44px);
        letter-spacing: -0.02em;
        color: #101828;
        text-align: center;
        margin-top: 12px;
    }

    .__description_first {
        @include fontFamily('Inter', normal, 600, 16px, 24px);
        color: #4E4D9D;
        text-align: center;
    }

    .__description_second {
        @include fontFamily('Inter', normal, 400, 20px, 30px);
        color: #475467;
        text-align: center;
        margin-top: 20px;

    }

    .wrap {
        margin-top: 31px;
        max-width: 860px;
        display: block;
    }
}
    

@include xs {
    .features {    
        .wrap {
            max-width: 370px;
        }    
    }
}

@include sm {
    .features {
        .wrap {
            max-width: 100%;
            margin-left: 15px;
        }
    }
}

@include md {
    .features {
        width: 100%;
        margin-top: 45px;
        margin-left: 10px;
    }
}

//**********************************************************  SECTION PRICING PAGE  **************************************************************

.price__section { 
    margin-top: 88px;
    .wrap {
        justify-content: space-between;
    }
}

@include xs {
    .price__section{
        height: 1865px;
    }  
}

@include sm {
    .price__section{
        height: 1515px;

        .wrap {
            flex-direction: column;
            padding-top: 200px;
        }
    }  
}

@include md {
    .price__section{
        margin-top: 18px;
        height: 1650px;

        .wrap {
            flex-direction: column;
            padding-top: 250px;
        }
    }  
}

@include lg {
    .price__section{
        .wrap {
            width: 98%;
        }
    } 
} // done

//*************************************************************  SECTION PROMO PAGE  ******************************************************************

.promo {
    margin-top: 118px;
    margin-bottom: 96px;
    
    .__section {
        border-radius: 24px;
        box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
        display: flex;
        height: 400px;
        background: #5654DB;
        position: relative;
        width: 100%;

        .promo_bg {
            position: absolute;
            left: 0;
            width: 65%;
            z-index: 0;

            img {
                border-radius: 24px;
            }
        }

        .promo__action {
            z-index: 1000;
            margin-top: 94px;
            margin-left: 64px;

            .__title {
                @include fontFamily('Inter', normal, 600, 36px, 44px);
                letter-spacing: -0.02em;
                color: #FFFFFF;
            }

            .__description {
                @include fontFamily('Inter', normal, 400, 20px, 30px);
                color: #FFFFFF;
                margin-top: 20px;
                width: 80%;
            }

            .action_btns {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                width: 70%;

                button:first-child {
                    width: 28%;
                    height: 48px;
                }

                button:last-child {
                    width: 69%;
                    height: 48px;
                    background: #1719DD;
                    color: #FFFFFF;
                }
            }
        }

        .promo_pic {
            position: absolute;
            right: 0;
            width: 35.5%;
            
            img {
                border-radius: 0px 24px 24px 0px;
            }
        }
    }    
} 

@include xs {
    .promo {
        margin-left: 15px;
        margin-bottom: 20px;
    }
}

@include sm {
    .promo {
        margin-top: 172px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
}

@include md {
    
    .promo {
        margin-top: 172px;
        
        margin-bottom: 30px;

        
    }
}

@include lg {
    .promo {
        .__section {
            width: 930px;
            height: 275px;

            .promo__action {
                margin-top: 44px;
                margin-left: 24px;

                .__title {
                    font-size: 32px;
                    line-height: 32px;
                }

                .__description {
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            .promo_bg {
                img {
                    width: 68.5%;
                }
            }

            .promo_pic {
                img {
                    width: 100%;
                }
            }
        }

        
    }
}      // done

//*************************************************************  SECTION REVIEWS PAGE  ******************************************************************

.reviews {
    margin-bottom: 96px;

    .wrap {
        display: block;
    }

    .company_rev {
        display: flex;
        justify-content: space-between;
        width: 11%;
        margin: 0 auto;
    }

    .the_review {
        margin-top: 32px;
        @include fontFamily('Inter', normal, 500, 48px, 60px);
        letter-spacing: -0.02em;
        color: #101828;
        text-align: center;
        margin-bottom: 32px;
    }

    .author {
        text-align: center;

        .rev_author {
            @include fontFamily('Inter', normal, 600, 18px, 28px);
            color: #101828;
            margin-top: 16px;
        }

        .rev_author_pos {
            @include fontFamily('Inter', normal, 600, 16px, 24px);
            color: #475467;
            margin-top: 4px;
        }
    }
}

//*************************************************************  SECTION REGISTER PAGE  ******************************************************************

.register {
    position: relative;
    background: #5654DB;

    .wrap {
        display: block;
        z-index: 1000;
        position: relative;
    }

    img {
        position: absolute;
        
        width: 100%;
        bottom: -56%;
        z-index: 0;
    }

    .__description {
        text-align: center;
        

        p:first-child {
            padding-top: 96px;
            @include fontFamily('Inter', normal, 500, 36px, 44px);
            color: #FFFFFF;
            letter-spacing: -0.02em;
            margin-bottom: 20px;
        }

        p:last-child {
            @include fontFamily('Inter', normal, 400, 20px, 30px);
            color: #E9D7FE;
            padding-bottom: 32px;
        }
    }

    .forma {
        margin: 0 37%;

        .text {
            padding: 10px 20px;
            display: block;
            height: 32px;
            width: 88%;
            background: #FFFFFF;
            border: 1px solid #FFFFFF;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;
        }
          
        .text:focus {
            border: 1px solid #FFFFFF;
            border-radius: 8px;
            background: #FFFFFF;
            outline: 0;
        }
    
        input {
            display: inline-block;
            margin-top: 32px;
            @include fontFamily('Inter', normal, 400, 16px, 24px);
            color: #667085;
        }

        .agreement {
            margin-top: 6px;
            @include fontFamily('Inter', normal, 400, 14px, 20px);
            color: #E9D7FE;
        }

        .signin {
            margin-top: 16px;
            width: 100%;
            height: 48px;
            color: #FFFFFF;
            background: #1513AD;
            margin-bottom: 96px;
        }
    }
}

@include lg {
    .register {

        img {
            bottom: -42%;
        }

        .forma {
            .text {
                height: 26px;
            }
        
            input {
                margin-top: 28px;
            }
    
            .agreement {
                font-size: 10px;
                line-height: 16px;
            }
        }
    }
}