  <app-header></app-header>
  <main>
    <div class="start__page">
      <div class="wrap">
        <!-- <img class="gradient" src="../assets/gradient.svg" alt="gradient"> -->
        <div class="start__text">
          <div>
            <p class="start_description">Простой способ заработать на сметах</p>
            <h1>Инновационное</h1>
            <h1>составление смет</h1>
            <p class="description_help">Работайте меньше, получайте больше</p>  
          </div>
          <div class="actions_buttons">
            <a href="">
              <button class="show_demo_btn">
                <div class="arrow">
                  <img src="../assets/arrow.svg" alt="arrow">
                  <p>Демонстрация работы</p>
                </div>
              </button>
            </a>
            <a href="#price_carts"><button class="registr_btn">Регистрация</button></a>
          </div>
        </div>
        <img class="racushka" src="../assets/racushka.svg" alt="racushka">
      </div> 
      
      <div class="wrap">
        <div class="start__dashboard">
         
        </div>
      </div>
    </div>
    

    <div class="features">
      <div class="tiny__wrap">
        <p class="__title">Features</p>
        <p class="__description">Our landing page template works on all devices, so you only have to set.</p>
      </div>
    </div>

    <div class="price__section" id="price_carts">
      <p class="how__title">Pricing</p>
      <div class="wrap">
        <app-price-cart *ngFor="let rate of ratesList" [ratesListik]="rate"></app-price-cart>
      </div>
    </div>

    <div class="promo">
      <div class="wrap">
        <div class="block">
          <div>
            <p class="question">READY TO START?</p>
            <p class="promo__text">Start your free trial today!</p>
          </div>
          <div>
            <button class="get_started">
              <div class="arrow">
                <p>Get Started</p>
                <img src="../assets/features_section/arrow.svg" alt="arrow)">
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>

  </main>
  <app-footer></app-footer>