@mixin fontFamily($family, $style, $weight, $size, $height) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

$breakpoints: (
    "xs": 420px,
    "sm": 720px,
    "md": 960px, 
    "lg": 1280px,
    "xl": 1400px,
);

@mixin xs {
    @media (max-width: map-get($breakpoints, "xs")){
        @content;
    }
}


@mixin sm {
    @media (max-width: map-get($breakpoints, "sm")) and (min-width: map-get($breakpoints, "xs")){
        @content;
    }
}

@mixin md {
    @media (max-width: map-get($breakpoints, "md")) and (min-width: map-get($breakpoints, "sm")){
        @content;
    }
}

@mixin lg {
    @media (max-width: map-get($breakpoints, "lg"))  and (min-width: map-get($breakpoints, "md")){
        @content;
    }
}

@mixin xl {
    @media (max-width: map-get($breakpoints, "xl")) and (min-width: map-get($breakpoints, "xl")){
        @content;
    }
}