@import './assets/mixins.scss';
* {
    margin: 0;
    padding: 0;
    
}

body {
    background: #FFFFFF;
    overflow-x: hidden;
}

.wrap {
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

button {
    border-radius: 8px;
    border:none;
    cursor: pointer;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    @include fontFamily('Inter', normal, 600, 16px, 24px);
}

.header__logo {
    display: flex;
    padding-top: 35px;
    padding-bottom: 40px;


    p {
        @include fontFamily('Montserrat', normal, 700, 10.7422px, 24px);
        letter-spacing: -0.02em;
        margin-left: 15px;
        color: #FFFFFF;
    }
}

.arrow {
    display: flex;
    padding-left: 28px;

    p {
        padding-left: 12px;
    }
}

.blue_button {
    transition: all 0.25s ease-in-out;

            &:hover {
                background: #1719DD;
                box-shadow: 0px 4px 35px -5px #1719DD;
            }

            &:active {
                background: #29278a;
                box-shadow: 0px 4px 35px -5px #29278a;
            }
}

@include sm {

    .arrow {
        padding-left: 10px;
        img {
            width: 9%;
        }
    }

    button {
        font-size: 10px;
        line-height: 18px;
    }

    .wrap {
        max-width: 720px;
    }

    .header__logo {
        img {
            width: 20%
        }

        p {
            font-size: 6px;
            line-height: 12px;
            margin-left: 6px;
        }
    }

    header {
        .header__logo {
            padding-top: 16px;
            padding-bottom: 30px;
        }
    }
    
    footer {
        .lower_footer {
            .header__logo {
                padding-top: 12px;
                padding-bottom: 10px;
            }
        }
    }
} // done

@include xs{
    .wrap {
        max-width: 400px;
    } 
    
    button {
        font-size: 8px;
        line-height: 12px;
    }

    .blue_button {
        font-size: 8px;
        line-height: 12px;
    }

    .arrow {
        padding-left: 6px;

        p{
            padding-left: 4px;
        }
    }
}

@include md {

    button {
        font-size: 13px;
        line-height: 20px;
    }

    .wrap {
        max-width: 920px;
    } 

    .header__logo {
        p {
            font-size: 8px;
            line-height: 24px;
            margin-left: 6px;
        }
    }
}

@include lg {
    .wrap {
        max-width: 1200px;
    }
}