@import '../../../../assets/mixins.scss';
//*********************************************************************  FOOTER  **********************************************************************
footer {
    width: 100%;
    background: #1C1C30;
    z-index: 3000;
    position: relative;
    
    .wrap { 
        padding-top: 50px;
        padding-bottom: 50px;
        display: block;
    }

    .bio__links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        ul {
            list-style: none;
    
            li {
                a {
                    text-decoration: none;
                    color: #EAECF0;
                    &:hover {
                        color: #667085;
                    }
                }
                @include fontFamily('Inter', normal, 600, 16px, 24px);
                margin-bottom: 12px;
                margin-right: 45px; 
            }

            li:first-child {
                @include fontFamily('Inter', normal, 600, 14px, 20px);
                margin-bottom: 16px;
                color: #D0D5DD;
            }
        }
    }

    .lower_footer {
        display: flex;
        justify-content: space-between;
    }

    hr {
        margin-top: 84px;
        width: 100%;
        background: #475467;
        opacity: 0.16;
        border-radius: 16px;
    }

    .copyright {
        margin-top: 35px;
        @include fontFamily('Inter', normal, 600, 16px, 24px);
        color: #D0D5DD;
    }
}

@include xs {
    footer {
        
        .wrap {
            padding-top: 30px;
            padding-bottom: 0px;
        }
    
        .bio__links ul {    
            li {
                margin-right: 5px;
            }
        }
    
        .terms__etc a {
            display: block;
            @include fontFamily('Sora', normal, 400, 10px, 20px);
            margin-right: 16px;
        }
    
        .copyright {
            @include fontFamily('Sora', normal, 400, 10px, 20px);
        }
    }
}

@include sm {
    footer {
        height: 80px;
        
        .wrap {
            padding-top: 30px;
            padding-bottom: 0px;
        }
    
        .bio__links ul {    
            li {
                margin-right: 5px;
            }
        }
    
        .terms__etc a {
            display: block;
            @include fontFamily('Sora', normal, 400, 10px, 20px);
            margin-right: 16px;
        }
    
        .copyright {
            @include fontFamily('Sora', normal, 400, 10px, 20px);
        }
    }
}