@import '../../../../assets/mixins.scss';
//*********************************************************************  FOOTER  **********************************************************************
footer {
    width: 100%;
    background: #1C1C30;
    z-index: 3000;
    position: relative;
    
    .wrap { 
        padding-top: 50px;
        padding-bottom: 50px;
        display: block;
    }

    .bio__links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        ul {
            list-style: none;
    
            li {
                a {
                    text-decoration: none;
                    color: #EAECF0;
                    &:hover {
                        color: #667085;
                    }
                }
                @include fontFamily('Inter', normal, 600, 16px, 24px);
                margin-bottom: 12px;
                margin-right: 45px; 
            }

            li:first-child {
                @include fontFamily('Inter', normal, 600, 14px, 20px);
                margin-bottom: 16px;
                color: #D0D5DD;
            }
        }
    }

    .lower_footer {
        display: flex;
        justify-content: space-between;
    }

    hr {
        margin-top: 84px;
        width: 100%;
        background: #475467;
        opacity: 0.16;
        border-radius: 16px;
    }

    .copyright {
        margin-top: 35px;
        @include fontFamily('Inter', normal, 600, 16px, 24px);
        color: #D0D5DD;
    }
}



@include sm {
    footer {
        .wrap {
            margin: 0 20px;
            padding-bottom: 10px;
        }

        hr {
            margin-top: 10px;
        }

        .bio__links {
            ul {
                li {
                    font-size: 6px;
                    line-height: 10px;
                    margin-left: 10px;
                }
    
                li:first-child {
                    font-size: 8px;
                    line-height: 10px;
                }
            }
        }

        .copyright {
            font-size: 8px;
            line-height: 14px;
            margin-top: 12px;
        }
    }
}//done

@include xs {
    footer {
        
        .wrap {
            padding-top: 30px;
            padding-bottom: 0px;
        }
    
        .bio__links ul {    
            li {
                margin-right: 5px;
            }
        }
    
        .copyright {
            font-size: 5px;
            line-height: 10px;
        }
    }
}

@include md {
    footer {
        .wrap {
            margin: 0 20px;
            padding-bottom: 10px;
        }

        hr {
            margin-top: 10px;
        }

        .bio__links {
            ul {
                li {
                    font-size: 12px;
                    line-height: 18px;
                    margin-left: 28px;
                }
    
                li:first-child {
                    font-size: 10px;
                    line-height: 16px;
                }
            }
        }

        .copyright {
            font-size: 10px;
        }
    }
} // done

@include lg {
    footer {
        .bio__links {
            ul {
                li {
                    font-size: 14px;
                    line-height: 20px;
                    margin-left: 32px;
                }
    
                li:first-child {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }

        .lower_footer {
            margin: 0 20px;
        }

        .copyright {
            font-size: 12px;
        }
    }
} // done