<footer>
    <div class="wrap">
      <div class="bio__links">
        <ul>
          <li><a href="">Возможности</a></li>
          <li><a href="">Обзор продукта</a></li>
          <li><a href="">Возможности</a></li>
          <li><a href="">Отличия от программ</a></li>
          <li><a href="">Параметры </a></li>
          <li><a href="">Информация об обновлениях</a></li>
        </ul>
        <ul>
          <li><a href="">Помощь</a></li>
          <li><a href="">Быстрый старт</a></li>
          <li><a href="">Справка</a></li>
          <li><a href="">Обучающие материалы</a></li>
          <li><a href="">Платные курсы</a></li>
        </ul>
        <ul>
          <li><a href="">Тарифы</a></li>
          <li><a href="">Тарифы</a></li>
          <li><a href="">Описания</a></li>
        </ul>
        <ul>
          <li><a href="">Правовая информация</a></li>
          <li><a href="">Условия работы</a></li>
          <li><a href="">Приватность</a></li>
          <li><a href="">Cookies</a></li>
          <li><a href="">Лицензирование</a></li>
          <li><a href="">Обратная связь</a></li>
        </ul>
      </div>
      <hr/>
      <div class="lower_footer">
        <div class="header__logo">
          <img src="./assets/logo.svg" alt="Logo">
          <p>СМЕТНЫЙ ОФИС</p>
        </div>
        <div class="copyright">
          <p>© 2023 Все права защищены. Сметный офис</p>
        </div>
      </div>
    </div>
  </footer>
