<footer>
    <div class="wrap">
      <div class="bio__links">
        <ul>
          <li><a href=""><img src="../assets/facebook-line1.svg" alt="Facebook"></a></li>
          <li><a href=""><img src="../assets/twitter-line1.svg" alt="Twitter"></a></li>
          <li><a href=""><img src="../assets/instagram-line1.svg" alt="Instagram"></a></li>
          <li><a href=""><img src="../assets/linkedin-line1.svg" alt="LinkedIn"></a></li>
        </ul>
      </div>
      <div class="terms__etc">
        <a href="">Terms & Conditions</a>
        <a href="">Privacy Policy</a>
      </div>
      <div class="copyright">
        <p>2022 All right reserved</p>
      </div>
    </div>
  </footer>
